<?xml version='1.0' encoding='utf-8'?>
<widget id="com.novacook.webview" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NovaCook Viewer</name>
    <description>Aplikasi WebView Kloning Kustom Berbasis Cordova</description>
    <author email="support@novacook.local" href="https://novacook.local">NovaCook Team</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="default" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
</widget>
